[submodule "googletest"]
	path = googletest
	url = https://github.com/Alexhuszagh/googletest
[submodule "Fuzzer"]
	path = Fuzzer
	url = https://github.com/Alexhuszagh/Fuzzer
[submodule "lexi"]
	path = lexi
	url = https://github.com/Alexhuszagh/lexi.git
